{{!< default}}

<div class="bg-green-900">
    <div class="gh-container">
        <p class="text-green-500">test</p>
        <div class="gh-postfeed">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>
